.root {
	-fx-background-image: url(/tramas/resources/background_wood.jpg);
	-fx-background-size:cover;
	-fx-font-family: 'IrishUncialfabeta-Bold';
	
}


.titulosAventura{
	-fx-background-color: rgb(192,192,192);
	-fx-border-color: grey;
	-fx-border-radius: 3px;
	-fx-background-color: radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, reflect, rgb(128,51,77) 0.0, rgb(0,0,0) 100.0 );
	-fx-padding: 8px;
	-fx-background-radius: 5px;
	-fx-text-fill: white;
	-fx-font-size: 12px;
}

.contenidoAventura{
	-fx-background-image: url(/tramas/resources/backgroundAventuras.jpg);
	-fx-background-size: stretch ;
}

.listViewAventura{
	-fx-background-color: rgb(0,0,0),radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgb(255,255,255) 0.0, rgb(56,14,35) 100.0 );
	-fx-border-color: black;
}

.imagenAventura{
	-fx-background-color: rgb(0,255,255);
}


/* PARA CAMBIAR LAS PROPIEDADES DE UN TEXT AREA, ES NECESARIO TRABAJAR SOBRE TODOS SUS NODOS HIJOS */
.tituloAventura {
    -fx-background-color: transparent;
}

.tituloAventura .scroll-pane {
    -fx-background-color: transparent;
}

.tituloAventura .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.tituloAventura .scroll-pane .content{
    -fx-background-color: transparent;
}

.tituloAventura *.text {
    -fx-text-alignment: center;
}



.imagenPergamino{
	-fx-background-image: url(/tramas/resources/pergamino.png);
	-fx-background-size: stretch;
}

.AventuraPane{
	-fx-background-image: url(/tramas/resources/bg_AventurasMin.jpg);
	-fx-background-size: stretch;
	
}

